* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2vmax;
}

html, body {
    margin: 0;
    padding: 0;
}

#game-area {
    height: 100vh;
    width: 100vw;
    background: #355435;
    display: flex;
    flex-direction: column;
}

#game-data-container, #game-control-container, #game-play-container {
    position: relative;
}

#game-data-container {
    flex: 1;
}

#game-play-container {
    flex: 1;
}

#game-control-container {
    flex: 1;
}

btn {
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 0 5px;
    cursor: pointer;
    text-align: center;
}

#new-game {
    background: #4848e2;
    color: #aaa;
    z-index: 10;
}

#new-game:hover {
    background: #212167;
    color: #757575;
}

#new-game > span {
    color: #fff;
    font-size: 1.5rem;
}

#shaded-area {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

#game-score-container {
    font-size: 4.3rem;
    color: #fff;
    text-align: center;
}

#game-score-container > #game-score {
    font-size: 1.2em; /* Numbers are smaller than letters for this font, so the size of them is set larger in order to make them match */
}

#play-area {
    max-height: 350px;
    height: 100%;
    width: 90%;
    box-shadow: inset 0 0 9px;
    background: #6c7b6fab;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.card {
    height: 100%;
}

#cards-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.arrow-container {
    color: #fff;
    width: 5%;
    position: absolute;
    height: 210px;
    transform: translateY(-50%);
    top: 50%;
}

.arrow {
    font-size: 3.1rem;
}

.arrow-container:hover{
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
}

#right-arrow-container {
    right: 0;
}

.arrow-container > .arrow {
    transition: visibility 0s, opacity 0.5s linear;
}

.arrow-container:hover > .arrow {
    visibility: visible;
    opacity: 1;
}

.arrow {
    cursor: pointer;
}

#left-arrow-container, #right-arrow-container {
    display: none; /* set to display: none to begin with, as you can't scroll left or right at the start of the game. */
}

#hi-lo-btn-container {
    width: 50vw;
    display: flex;
}

#hi-lo-btn-container, #game-score-container, #play-area, .arrow-container > .arrow {
    visibility: hidden;
    opacity: 0;
}

#hi-lo-btn-container.game-started, #game-score-container.game-started, #play-area.game-started {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1.5s cubic-bezier(0.4, 0, 1, 1);
}

#hi-lo-btn-container > btn {
    padding: 7% 10%;
    /*position: absolute;*/
    /*transform: translateY(-50%);*/
    box-shadow: 0 0 12px;
}

#hi-lo-btn-container > btn > span {
    font-size: 1.4rem;
}

#hi-lo-btn-container.game-started > btn, #game-score-container, #new-game, .card, .arrow {
    user-select: none;
}

#low {
    /*left: 0;*/
    margin-right: auto;
    background: #26bdff;
}

#low:hover {
    background: #2627ff;
}

#high {
    /*right: 0;*/
    background: #ff4c28;
}

#high:hover {
    background: #ff2828;
}

#new-game.clicked, #shaded-area.inactive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 1s linear;
}

#main-game-text-container {
    z-index: 10;
}

.game-message {
    text-shadow: 1px 1px 2px black;
}

#game-message-lose {
    font-size: 3.4rem;
}

#game-message-win {
    font-size: 2.6rem;
}

btn, .game-message, #game-score-container {
    text-transform: uppercase;
}

#game-message-lose {
    color: red;
}

#game-message-win {
    color: green;
}

.center-yx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#new-game > span {
    font-size: 1.6rem;
}

/*@media (min-width: 480px) {*/
    /** {*/
        /*font-size: 30px;*/
    /*}*/
/*}*/


/*@media (min-width: 768px) {*/
    /*#hi-lo-btn-container > btn {*/
        /*padding: 5% 10%;*/
    /*}*/
/*}*/

@media (min-aspect-ratio: 3/4) {
    * {
        font-size: 30px;
    }
}

@media (min-aspect-ratio: 1/1) {
    * {
        font-size: 16px;
    }

    #hi-lo-btn-container > btn {
        padding: 4% 10%;
    }
}